{% extends "base.html" %}
{% block content %}
{% for article in articles_page.object_list %}
{% if loop.index is odd %}
<div class="row indexrow">
  {% endif %}
<index>
  <div class="medium-6 columns {% if loop.index is odd %}item-wrap{% endif %}">
    <div class="item">
      <div id="article_title">
	<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
	<div id="article_meta">
	  <p>{{ article.locale_date }}
	    {% if article.tags %}
	    <i class="icon-tags"></i>
	    {% for tag in article.tags %}
	    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
	    {% endfor %}
	    {% endif %}
	  </p>
	</div>
	<div id="article_text">
	  <a href="{{ SITEURL }}/{{ article.url}}"><img class="front" src="{{ article.image }}"></a>
	</div>
      </div>
    </div>
  </div>
</index>
{% if loop.index is even %}
</div>
{% endif %}
{% if loop.index is odd and loop.last %}
<index>
<div class="medium-6 columns">
</div>
</index>
</div>
{% endif %}
{% endfor %}
{% endblock %}
